@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body{
  background-color: #FCFCFC;
}

.nav-container{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
  padding:  10px 10px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo{
  margin: 0px 40px;
}

.logo h1{
  font-size: 30px;
  color: #363636;
}

.logo h1 i{
  display: none;
}

.logo h1 span{
  color: #00B22F;
  font-size: 34px;
}

.nav-feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.nav-options ul{
  display: flex;
}

.nav-options ul a{
  text-decoration: none;
  color: #2D2D2D;
}

.nav-options ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 10px;
}

.searchbar{
  padding: 5px 0px;
  margin: 0px 15px;
  position: relative;
}

.searchbar input {
  height: 40px;
  border: 1px solid #3A3A3A;
  border-radius: 30px;
  padding: 0px 15px;
  outline: none;
}

.searchbar input::placeholder{
  font-size: 14px;
  color: #373737;
}

.searchbar #search{
  position: absolute;
  top: 15px;
  right: 15px;
}

.cart{
  font-size: 22px;
  margin: 0px 10px;
  position: relative;
}

.cart a{
  color: #202020;
  text-decoration: none;
}

.profile{
  margin: 0px 30px;
}

.profile button{
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
  background-color: #00D911;
}

/*hero image*/

.img-container{
  height: 400px;
  margin: 150px 60px;
  position: relative;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.img-container .text{
  position: absolute;
  top: 30%;
  left: 10%;
}

.img-container .text span{
  font-size: 35px;
  color: #002A62;
  font-weight: 800;
  line-height: 45px;
}

.img-container .text button{
  background-color: #229F5C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 5px 10px;
}

.text p{
  display: inline-block;
  font-size: 15px;
  color: #002A62;
}

.text p i{
  font-size: 15px;
}

/*categories section*/

#categories{
  margin-top: 80px;
  padding: 10px 40px;
}

#categories h1{
  font-size: 35px;
  padding: 20px 0px;
  margin: 10px 20px;
}

.categories-opt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-box:nth-child(2){
  background: #F10F0F42;
}

.categories-box:nth-child(3){
  background: #45F10F45;
}

.categories-box:nth-child(4){
  background: #0FF1BC4D;
}

.categories-box:nth-child(5){
  background: #F19A0F8A;
}

.categories-box:nth-child(6){
  background: #0FE8F14F;
}

.categories-box:nth-child(7){
  background: #900FF13D;
}


.categories-box{
  width: 10%;
  height: 180px;
  background: #EEF10F8A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px 15px;
  margin: 10px 10px;
}

.categories-box img{
  height: 100px;
}

.categories-box span{
  margin: 5px 0px;
  color: #090909B8;
  font-weight: 700;
  font-size: 15px;
}

/*products section*/

#sellers{
  margin-top: 80px;
  padding: 0px 40px;
}

#sellers h1{
  font-size: 35px;
  margin: 0px 10px;
}

.products-opt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products-opt .product-box{
  width: 18%;
  padding: 10px 25px;
  margin: 20px 10px;
  border: 1px solid #625E5E63;
}

.product-box img{
  width: 200px;
}

.product-box span{
  font-size: 14px;
  color: #444444;
}

.product-box h2{
  font-size: 25px;
}

.product-box .rating{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.product-box .rating ul{
  display: flex;
}

.product-box .rating ul li{
  list-style: none;
  color: #16D53F6E;
}

.product-box .rating ul li .checked{
  color: #2BC94D;
}

.product-box .price-cart{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.product-box .price-cart h3{
  font-size: 25px;
  font-weight: 700;
  color: #2BC94D;
}

.product-box .price-cart h3 span{
  font-size: 15px;
  color: #5D5C5C;
}

.product-box .price-cart button{
  width: 100px;
  background: #C9C9C940;
  border: 1px solid #6464649E;
  border-radius: 5px;
  color: #2BC94D;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  transition: 0.2s;
}

.product-box .price-cart button:hover{
  background: #FFFFFF9E;
  color: #13DF3F;
  transform: scale(1.0888);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

/*About us banner*/

.ab-container{
  height: 500px;
  width: 100%;
  margin: 80px 0px;
  padding: 0px 20px 0px 20px;
  position: relative;
}

.ab-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}

.ab-container .text{
  position: absolute;
  top: 20%;
  right: 3%;
}

.ab-container .text h1{
  font-size: 28px;
  color: #10B333;
}

.ab-container .text ul li{
  list-style: none;
  color: #4D4D4D;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  margin: 10px 0px;
}

.ab-container .text ul li span{
  font-size: 14px;
  color: #727272;
}

/*subscribe section*/

.sub-btn{
  text-align: center;
}

.sub-btn h1{
  font-size: 40px;
  font-weight: 600;
}

.sub-btn span{
  font-size: 18px;
  color: #5A5A5A;
}

.sub-btn .email-box{
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.sub-btn .email-box input{
  width: 300px;
  height: 40px;
  border: none;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-bottom: 1px solid #777777;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding: 0px 10px;
}

.sub-btn .email-box button{
  border: none;
  height: 40px;
  width: 100px;
  background: #2DA146D9;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*detials section*/

.detail-container{
  background-color: #13E64014;
  display: flex;
}

.detail-1{
  width: 400px;
  margin: 90px 30px;
}

.detail-1 h1{
  font-size: 35px;
  font-weight: 800;
}

.detail-1 h1 span{
  color: #0B9929;
  font-size: 45px;
}

.detail-1 p{
  font-size: 13px;
  font-weight: 500;
  color: #585858;
}

.detail{
  width: 250px;
  margin: 90px 5px;
}

.detail h1{
  font-size: 23px;
  font-weight: 700;
  margin: 10px 5px;
}

.detail .list ul{
  padding: 5px 5px;
}

.detail .list ul li{
  list-style: none;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #4B4B4B;
}

.all-list{
  display: flex;
}

/*footer section*/

.foot{
  background-color: #13E64014;
}

.foot-container{
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
  padding: 20px 20px;
}

/*Login page start here*/
.container{
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: #13df3f44;
}

.container .content{
  width: 30%;
  padding: 30px;
  border: 1px solid #262625;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(116, 115, 115, 0.6);
  text-align: left;
  background-color: #00D911;
  backdrop-filter: blur(30px);
}

.content h1{
  text-align: left;
  padding: 5px;
}

.content .input-box{
  width: 100%;
  color: white;
  margin: 10px 0px;
}

.input-box input{
  width: 60%;
  padding-left: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: #8382825f;
  backdrop-filter: blur(20px);
}

.input-box p{
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Winky Rough", sans-serif;
}

.check-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 4px;
}

.check-btn p{
  margin-left: 3px;
  font-size: 12px;
  font-family: "Winky Rough", sans-serif;
  color: whitesmoke;
  letter-spacing: .5px;
}

.check-btn input{
  border: none;
  border-radius: 50px;
}

.submit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.submit-btn button{
  width: 200px;
  padding: 5px 13px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #444242;
  color: whitesmoke;
  font-family: "Winky Rough", sans-serif;
  letter-spacing: .5px;
}




/*sign up page*/

#sign-up-page{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333333BF;
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
}

.active{
  visibility: hidden;
}

/*cart section*/

#cart-page{
  position: fixed;
  top: 80px;
  left: -750px;
  background-color: #fff;
  height: 190%;
  width: 500px;
  transition: all 0.5s;
}

.backbtn{
  margin: 20px 10px;
  font-size: 30px;
}


.cart-container{
  padding: 10px 50px;
}

.cart-container .head{
  text-align: center;
  font-size: 28px;
  padding: 30px 20px;
}

.product{
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 2px solid #606060BF;
  padding: 20px 10px;
  margin: 20px 0px;
}

.product img{
  width: 100px;
  border-radius: 10px;
  padding: 5px 5px;
  background: #ACACAC70;
  margin: 0px 10px;
}

.product .product-details h1{
  font-size: 18px;
}

.product .product-details h2{
  font-size: 20px;
}

.product #price span{
  color: #777777;
  font-size: 15px;
}

.product .product-details{
  margin: 0px 20px;
}

.product .product-details .quantity{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #373737BF;
  border-radius: 10px;
  margin: 30px 0px;
}

.quantity button{
  background: transparent;
  border: none;
  font-size: 17px;
  height: 100%;
  width: 30px;
  padding: 5px 2px;
}

.quantity button:nth-child(1){
  border-right: 1px solid #373737BF;
}

.quantity button:nth-child(3){
  border-left: 1px solid #373737BF;
}

.cart-container .removebtn{
  font-size: 30px;
  margin: 0px 40px;
  padding: 20px 20px;
}

.totalprice{
  border-top: 2px solid #323232B0;
  text-align: right;
  padding: 20px 30px;
}

.totalprice p{
  font-size: 23px;
}

.buybtn{
  text-align: center;
  margin: 30px 0px;
}

.buybtn button{
  font-size: 18px;
  background-color: #FFA400B0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
  padding: 10px 20px;
}

/*vegetables section start here*/


#vegetables{
  margin-top: 120px;
}

#vegetables .head{
  text-align: center;
  font-size: 50px;
  margin: 60px 0px;
}

.veggies-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.veggies-list .product-box{
  width: 18%;
  border: 1px solid #7B7B7BB3;
  padding: 20px 25px;
  margin: 10px 10px;
}

.veggies-list .product-box img{
  width: 100%;
  margin: 10px 0px;
}

#fruits{
  margin-top: 120px;
}

#fruits .head{
  text-align: center;
  font-size: 50px;
  margin: 60px 0px;
}

#cold_drinks{
  margin-top: 120px;
}

#cold_drinks .head{
  text-align: center;
  font-size: 50px;
  margin: 60px 0px;
}

#slide-menu{
  display: none;
}


/*responsive design section*/

@media screen and (max-width: 768px) {
  
.nav-container{
  padding:  2px 2px;
  justify-content: flex-start;
  position: fixed;
  z-index: 5;
}

.logo{
  margin: 0px 10px;
}

.logo h1{
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #363636;
}

.logo h1 i{
  display: block;
}

.logo h1 span{
  color: #00B22F;
  font-size: 18px;
  margin-left: 5px;
}

.nav-feature{
  padding: 5px 0px;
  flex-wrap: wrap;
}

#slide-menu{
  display: inline-block;
  position: absolute;
  top: 0;
  left: -60%;
  z-index: 5;
  background: #fff;
  height: 475vh;
  width: 50%;
  transition: all 0.5s;
}

.slide{
  margin: 30px 10px;
}

.close-btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.options{
  padding: 20px 10px;
}

.options ul li{
  list-style: none;
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #7F7F7F;
  transition: all 0.4s;
}

.options ul li:hover{
  background: #F2F2F2;
}

.nav-options ul{
  display: none;
}

.searchbar{
  padding: 5px 0px;
  margin: 0px 5px;
  position: relative;
}

.searchbar input {
  height: 20px;
  border: 1px solid #3A3A3A;
  border-radius: 20px;
  padding: 0px 5px;
  outline: none;
}

.searchbar input::placeholder{
  font-size: 8px;
  color: #373737;
}

.searchbar #search{
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 10px;
}

.cart{
  font-size: 12px;
  margin: 0px 5px;
  position: relative;
}

.cart a{
  color: #202020;
  text-decoration: none;
}

.profile{
  margin: 0px 10px;
}

.profile button{
  padding: 5px 10px;
  font-size: 10px;
}

/*hero image*/

.img-container{
  height: 200px;
  width: 95%;
  margin: 90px 10px;
  position: relative;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.img-container .text{
  position: absolute;
  top: 30%;
  left: 8%;
  font-size: 14px;
}

.img-container .text span{
  font-size: 15px;
  color: #002A62;
  font-weight: 800;
  line-height: 10px;
}

.img-container .text button{
  background-color: #229F5C;
  color: #fff;
  border: none;
  font-size: 8px;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 2.5px 5px;
}

.text p{
  display: inline-block;
  font-size: 8px;
  color: #002A62;
}

.text p i{
  font-size: 7px;
}

/*categories section*/

#categories{
  margin-top: 10px;
  padding: 7px 20px;
  width: 100%;
}

#categories h1{
  font-size: 32px;
  padding: 10px 0px;
  margin: 5px 10px;
}

.categories-box{
  width: 40%;
  padding: 10px 10px;
  margin: 8px 5px;
}

/*products section*/

#sellers{
  margin-top: 20px;
  padding: 0px 10px;
}

#sellers h1{
  font-size: 30px;
  margin: 0px 10px;
}

.products-opt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products-opt .product-box{
  width: 80%;
  padding: 10px 15px;
  margin: 10px 10px;
  border: 1px solid #625E5E63;
}

.product-box img{
  width: 300px;
}

/*About us banner*/

.ab-container{
  height: 200px;
  width: 100%;
  margin: 20px 0px;
  padding: 0px 10px 0px 10px;
  position: relative;
}

.ab-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}

.ab-container .text{
  top: 8%;
  right: 5%;
}

.ab-container .text h1{
  font-size: 12px;
}

.ab-container .text ul li{
  font-size: 10px;
  margin: 5px 0px;
  line-height: 10px;
}

.ab-container .text ul li span{
  font-size: 9px;
}

/*subscribe section*/

.sub-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sub-btn h1{
  font-size: 25px;
}

.sub-btn span{
  font-size: 12px;
  color: #5A5A5A;
}

.sub-btn .email-box{
  width: 100%;
  margin: 50px 0px;
}

/*detials section*/

.detail-container{
  width: 100%;
  flex-wrap: wrap;
}

.detail-1{
  margin: 70px 20px;
}

.detail-1 h1{
  font-size: 25px;
}

.detail-1 h1 span{
  font-size: 35px;
}

.detail-1 p{
  font-size: 8px;
}

.all-list{
  width: 100%;
  display: flex;
}

.detail{
  margin: 50px 10px;
}

.detail h1{
  font-size: 13px;
  margin: 5px 5px;
}

.detail .list ul li{
  line-height: 20px;
  font-size: 10px;
}

/*footer section*/

.foot{
  width: 100%;
}

.foot-container{
  font-size: 14px;
  padding: 10px 10px;
}

/*Login page start here*/

.container .content{
  width: 60%;
}

/*cart section*/

#cart-page{
  width: 40%;
  height: 470vh;
  top: 30px;
}

.backbtn{
  margin: 30px 4px;
  font-size: 30px;
}


.cart-container{
  padding: 5px 10px;
}

.cart-container .head{
  font-size: 19px;
  padding: 10px 20px;
}

.cart-container .removebtn{
  font-size: 23px;
  margin: 0px 20px;
  padding: 10px 10px;
}

.product img{
  width: 70px;
  border-radius: 4px;
  padding: 3px 3px;
  margin: 0px 5px;
}

.product #price #category{
  color: #777777;
  font-size: 5px;
}

.product .product-details{
  margin: 0px 7px;
}

.product .product-details .quantity{
  width: 80px;
  border-radius: 5px;
  margin: 10px 0px;
}

.quantity button{
  background: transparent;
  border: none;
  font-size: 12px;
  height: 100%;
  width: 30px;
  padding: 3px 1px;
}

.product{
  padding: 10px 20px;
  margin: 10px 0px;
}

.product .product-details h1{
  font-size: 20px;
}

.product .product-details h2{
  font-size: 15px;
}

/*vegetables section start here*/


#vegetables{
  width: 150%;
  margin-top: 70px;
}

#vegetables .head{
  font-size: 30px;
  margin: 40px 0px;
}

.veggies-list .product-box{
  width: 48%;
  padding: 10px 8px;
  margin: 5px 0px;
}

.veggies-list .product-box img{
  width: 100%;
  margin: 5px 0px;
}

#fruits{
  width: 150%;
  margin-top: 70px;
}

#fruits .head{
  font-size: 30px;
  margin: 40px 0px;
}

#cold_drinks{
  width: 150%;
  margin-top: 70px;
}

#cold_drinks .head{
  font-size: 30px;
  margin: 40px 0px;
}

}













